# Safety Lab Aero AI service settings. Written by install.sh. Keep this file private.
LICENSE_PUBLIC_KEYS=[{"kid":"slab-2026-09-06","alg":"ES256","kty":"EC","crv":"P-256","x":"JBEcOWNzJqwfwZIZiRbCb8PEH2CYhronJ-UuKsB-nAM","y":"N3yo7Sbc5Gm5VYGo-IWbGHWukiPMmEJtAQIhZRgc0Ys"}]
ANTHROPIC_API_KEY=__ANTHROPIC_API_KEY__
ANTHROPIC_WORKSPACE_ID=__ANTHROPIC_WORKSPACE_ID__
LICENSE_BACKEND_HOST=__SERVER__
ALLOWED_ORIGINS=https://__SERVER__
ALLOW_NULL_ORIGIN=1
